<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <%- include("../layouts/metadata.ejs") %>
</head>
<body>
    <%- include("../layouts/navbar.ejs") %>
    <h1>All Listings</h1>
    <!-- <form method="GET" action="/listings/new">
        <button>New Listing</button>
    </form> -->
    <ul>
        <% for(let list of allListings) { %>
        <li>
            <a href="/listings/<%= list._id %>"><%= list.title %></a>
        </li>
        <% } %>
    </ul>
    <%- include("../layouts/footer.ejs") %>
    <%- include("../layouts/script.ejs") %>
</body>
</html>
