<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= listing.title %></title>
    <%- include("../layouts/metadata.ejs") %>
  </head>
  <body>
    <%- include("../layouts/navbar.ejs") %>
    <main >
      <div class="container mt-4">
        <h3 class="mb-4">Listing details</h3>
        <div class="card" style="width: 18rem;">
  <img src="<%= listing.image %>" class="card-img-top" alt="<%= listing.title %>">
  <div class="card-body">
    <h5 class="card-title"><%= listing.title %></h5>
    <p class="card-text" style="line-height: 20px;"><%= listing.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">&#x20B9;<%= listing.price.toLocaleString("en-IN") %></li>
    <li class="list-group-item"><%= listing.location %></li>
    <li class="list-group-item"><%= listing.country %></li>
  </ul>
  <div class="card-body" style="display:  flex; gap: 10px;">
    <a href="/listings/<%= listing._id %>/edit" class="card-link btn btn-dark">Edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-danger">Delete this listing</button>
      </form>
  </div>
</div>
      </div>
    </main>
    <%- include("../layouts/footer.ejs") %> <%- include("../layouts/script.ejs")
    %>
  </body>
</html>
